<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1">
    <title>JC Tovar Portfolio - Email Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link href="https://fonts.googleapis.com/css?family=Gentium+Basic&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/button.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/form.css" rel="stylesheet" type="text/css">
  </head>
    <body>
        

    <h5>JC Tovar Portfolio - Email Sign Up (MySQL & NodeJS)</h5>
<div id="everything">
    <h2>Email Sign Up Portfolio Page</h2>
    <p class="lead">Enter your email to join the 
        <strong><%= data %></strong> 
    users in our database</p>
    <p>The DBMS for this app is MySQL; functionality was created with NodeJS. </p>
    <p>Frameworks & Libraries: ExpressJS for routes. Faker to seed fake users. EJS to dynamically design the HTML & CSS for this landing page. body-parser to separate the email address. SemanticUI for styling.</p>
    <p>Test this by entering your email. It will refresh the page, user count will be updated, and you will recieve an email. I promise this is only for my portfoliio; I'm not spamming any users.</p>

    <form method="POST" action="/register">
        <div class="ui inverted segment form success">
            <input id="insertEmail" type="email" name="email" class="form" placeholder="Enter Your Email">
            <button id="joinBtn" class="ui inverted button">Join Now</button>
        </div>
    </form> 
    
    <br>
    <div class="ui primary button">
        <a href="https://github.com/jctovar-create/user_signup_project" target="blank">Github Repo</a>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/form.min.js"></script>
  </body>
</html>